/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides
pinkish = #E9AE9B
darkgreen = #2A4F37
less dark = #55875A
less dark = #85B57E
less dark =#B8D4AE
less dark = #DAEAD8

 */
nav{
  display: inline-block;
}
 .top-bar{
   background-color: darkred;
 }

 .title_area{
   display: inline-block;
 }

nav div ul, .nav-button{
  display: inline-block;
  list-style: none;
  background-color: #9068be;
}

 .name{
    text-decoration: none;
    color: #e1e8f0;
    background-color: darkred;
}

a{
  font-size: 2em;
}

.dropdown-pane{
  background-color: #e1e8f0;
}
header{
  margin: 0px;
  padding: 0px;
}
.dropdown-pane ul li{
  color:darkcyan;
}
footer{
  background-color: dimgray;
  height: 50px;
  padding: 20px;
}
.edamam{
  color: #e1e8f0;
}
