.box-around-search{
  background-image: url(berries-1845683_1920.jpg);
  background-size: cover;
  height: 500px;
  margin: 0px;
}


.search-button{
  background-color: mediumseagreen;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.search-bar{
  width: 75%;
  margin: auto;
  width: 75%;
  border: 3px solid mediumseagreen;
  padding: 10px;
  display: inline-block;
}
.searcher{
  padding-top: 200px;
  width: 80%;
  margin: 0 auto;
}
