// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Domine|Monda|Nobile|Playfair+Display+SC');


.food-name, .food-image{
  max-width: 100%;
  max-height: 100%;
}
.recipe-name a{
  color:#85B57E;
  font-size: .5em;
}

.container-index{
  margin: 0px;
  width: 100%;
  background-color: #fefefe;
}
.background-index{
  padding: 80px;
}
h3{
  font-size: 2em;
}

h1{
  font-size: 3em;
}
.page-list a{
  color:#B8D4AE;
  font-family: 'Nobile', sans-serif;
}
.searcher{
  background-image: url(/assets/images/berries-1845683_1920.jpg);
}
.recipe-link a{
  list-style: none;
  color: #fefefe;
  padding: 10px;
  background-color: #DDA0DD;
  border-radius: 6px;
  height: 45px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 140px;
}
.recipe-link a:hover {
  background: #ff7b29;
  border-radius: 50%;
}
.ingredients, .nutrients, .recipe-image, .health-labels, .recipe-header{
  padding: 50px;
  display: inline-block;
}

.recipe-header{
color:#55875A;
font-size: 4em;
}

.top-block-title-image{
background-color: #DAEAD8;
}

.recipe-image img{
  width: 100%;
}

.ingredients ul li, .nutrients ul li, .health-labels ul li{
  list-style: none;

}
.nutrients ul li, .health-labels ul li{
  display: inline-block;
}
