<%# add navigation links to this file %>
<ul class = "dropdown-menu" data-dropdown-menu>
  <li class="menu-text">Cheap Ingredients</li>
      <li>
        <a href="#">Cheap Ingredients</a>
        <ul class="menu vertical">
          <li><a href="#">Eggs</a></li>
          <li><a href="#">Flour</a></li>
          <li><a href="#">Pasta</a></li>
          <li><a href="#">Rice</a></li>
          <li><a href="#">Beans</a></li>
</ul>
<li class="name"><%= link_to "Cheap Ingredients", root_path %></li>
<li class="name"><%= link_to "Special Diets", root_path %></li>
<li class="name"><%= link_to "Fancy Meals", root_path %></li>
